[submodule "res/tree-sitter/bash"]
	path = res/tree-sitter/bash
	url = https://github.com/tree-sitter/tree-sitter-bash
[submodule "res/tree-sitter/c"]
	path = res/tree-sitter/c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "res/tree-sitter/cpp"]
	path = res/tree-sitter/cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "res/tree-sitter/css"]
	path = res/tree-sitter/css
	url = https://github.com/tree-sitter/tree-sitter-css
[submodule "res/tree-sitter/html"]
	path = res/tree-sitter/html
	url = https://github.com/tree-sitter/tree-sitter-html
[submodule "res/tree-sitter/javascript"]
	path = res/tree-sitter/javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
[submodule "res/tree-sitter/python"]
	path = res/tree-sitter/python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "res/tree-sitter/rust"]
	path = res/tree-sitter/rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "res/tree-sitter/markdown"]
	path = res/tree-sitter/markdown
	url = https://github.com/ikatyang/tree-sitter-markdown
[submodule "res/tree-sitter/toml"]
	path = res/tree-sitter/toml
	url = https://github.com/ikatyang/tree-sitter-toml
[submodule "res/tree-sitter/lua"]
	path = res/tree-sitter/lua
	url = https://github.com/Azganoth/tree-sitter-lua
